/* Box Model Hack */
html{
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
body{
  font-family: 'Alegreya Sans', sans-serif;  
  background-color: #a28089;
}
/******************************************
/* LAYOUT
/*******************************************/
main{
  margin: 0 2%;
  font-size: 2rem;
}

h1{
  text-align: center;
}

fieldset{
  margin: 2% 0;
}

fieldset legend{
  padding: 0 2%;
  font-weight: 700;
}

.formElement{
  padding: 0 0 2% 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.formElement label{  
  flex: 1;
  font-weight: 700;
  padding: 1% 0;
}

.formElement input{
  flex: 9;
  margin: 0 0 0 1%;
  padding: 1% 0 1% 2%;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:15px;
}

.radioBtn{
  padding: 2% 0 0 0;
  width: 100%;
}

.questions{
  margin: 2% 0;
  padding: 0 0 2% 0;
}

.questions div{
  margin: 2% 0;
}

.questions label{
  width: 250px;
}

.questions input{
  margin: 0 1% 0 3%;
}

.commentBox{
  display: flex;
  flex-direction: row;
}

.commentBox label{
  flex: 1;
}

.commentBox input{
  flex: 2;
  height: 100px;
}

main button{
  margin: 0 47.5%;
  padding: 2% 0;
  width: 100px;
}
/*************** Footer style ****************/

footer{
  background-color: black;
  color: lightgray;
  font-family: sans-serif;
  padding: 2% 0;
  width: 100%;
  height: 210px;
}

footer div{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div a{
  margin: 10px;
}

footer p{  
  font-size:1.5rem;
  text-align:center;
  text-justify:newspaper;
}

/******************************************
/* TWITTER LOGO
/*******************************************/
.fa {
  padding: 20px;
  font-size: 35px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* Github */
.fa-github {
  background: white;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/